<main>
    <h1>Bem vindo!</h1>
    <p>Selecione uma opção para prosseguir</p>

    <div>
        <a mat-fab extended routerLink="/comprar-passagem" routerLinkActive="selected">
            <mat-icon>add_shopping_cart</mat-icon>
            Comprar Passagem
        </a>
    
        <a mat-fab extended routerLink="/alterar-passagem">
            <mat-icon>add_shopping_cart</mat-icon>
            Alterar Passagem
        </a>
    
        <a mat-fab extended routerLink="/cancelar-passagem">
            <mat-icon>add_shopping_cart</mat-icon>
            Cancelar Passagem
        </a>
    
        <a mat-fab extended routerLink="/informacoes-passagens">
            <mat-icon>add_shopping_cart</mat-icon>
            Informações da Passagem
        </a>
    
        <a mat-fab extended routerLink="/informacoes-voos">
            <mat-icon>add_shopping_cart</mat-icon>
            Informações Voo
        </a>
    </div>
</main>
